*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.main{
    border: 1px solid black;
    width: 70%;
    height: 565px;
    margin: 20px auto;
    
    
    
}
.container{
    /* border: 2px solid black; */
    width: 89%;
    height: 490px;
    margin: 20px 47px;
    background-color: rgba(194, 187, 187, 0.591);
    
    
    
   

}
.header{
    border: 2px solid black;
    width: 93%;
    height: 130px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    background-color: rgba(194, 187, 187, 0.591);
    
    
}
.nav{
    border: 2px dashed black;
    width: 97%;
    height:40px ;
    background-color: rgba(194, 187, 187, 0.591);
    

}
.content{
    border: 2px solid #000;
    width: 70%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 27px;
    background-color: rgba(194, 187, 187, 0.591);
    
    
   

}
.varticle{
    border: 2px dashed #000;
    width: 91%;
    height:100px ;
    margin-left: 23px;
    margin-bottom: 15px;
    background-color: rgba(194, 187, 187, 0.591);
    
    

}
.footer{
    border: 2px solid #000;
    width: 93%;
    height: 65px;
    margin-left: 27px;
    margin-top: 4px;
   background-color: rgba(194, 187, 187, 0.664);
}
span{
    color: rgba(240, 9, 48, 0.989);
}

.one{
    display: flex;
    
}
.aside{
    border: 2px solid #000;
    width: 21%;
    margin-left: 15px;
    margin-bottom: 4px;
}